<div class="row">
    <div class="col-xs-12">
        <form class="post-form">
            <textarea name="postStatus" id="post-status" autofocus
            placeholder="Write an update" ></textarea>
            <button type="submit" class="submit-post">Submit</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 post">
        <a href="">Edit</a>
        <a href="">Delete</a>
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
        <a href="">5 Likes</a>
    </div>
    <div class="col-xs-12 post">
        <a href="">Edit</a>
        <a href="">Delete</a>
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
        <a href="">5 Likes</a>
    </div>
    <div class="col-xs-12 post">
        <a href="">Edit</a>
        <a href="">Delete</a>
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
        <a href="">5 Likes</a>
    </div>
    <div class="col-xs-12 post">
        <a href="">Edit</a>
        <a href="">Delete</a>
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
        <a href="">5 Likes</a>
    </div>
    <div class="col-xs-12 post">
        <a href="">Edit</a>
        <a href="">Delete</a>
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
        <a href="">5 Likes</a>
    </div>
</div>
