<div class="row">
    <div class="col-xs-12" class="form-col-container">
        <form class="post-form">
            <textarea #postbox name="postStatus" id="post-status" autofocus placeholder="Write an update" [(ngModel)]='postContent.content'></textarea>
            <button type="submit" class="submit-post" [disabled]="postContent.content.length==0" (click)='postStatus()'>Submit</button>

        </form>
    </div>
</div>
<div class="row">
    <div *ngFor='let mPost of myPosts'>
        <div class="col-xs-12 post">
            <a (click)='editpost(mPost)' *ngIf='!mPost.edit'>Edit</a>
            <a (click)='deletepost(mPost)' *ngIf='!mPost.edit'>Delete</a>
            
            <div *ngIf='mPost.edit' style="position: relative;">
                <textarea  name="editContent" [id]='mPost._id' autofocus [(ngModel)]='mPost.post'></textarea>
                <i class="cross-edit fas fa-times" (click)='cancelEdit(mPost);'></i>
                <button type="submit" class="edit-submit-post" (click)='editpost(mPost);' 
                [disabled]='mPost.post==mPost.oldContent'>Submit</button>
            </div>


            <p class="date">Date: {{mPost.createdDate}}</p>
            <p>{{mPost.post}}</p>
            <a *ngIf="mPost.likestate=='unlike'" (click)='unlike(mPost)'>{{mPost.likesCount}} Likes</a>
            <a *ngIf="mPost.likestate=='like'|| !mPost.likestate" (click)='like(mPost)'>{{mPost.likesCount}} Likes</a>
        </div>
    </div>
</div>