.content-box{
    margin-top:0px;
    margin-left:50px;
    height: 100%;
}
.teacherBackground{
    background-color: hsl(0, 0%, 21%);
    margin-top:60px;
}
.teacherBackground *{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    color: #FFF;
}
.teacherBackground{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 100%;
    z-index: 5;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgb(24, 24, 24) 500px), linear-gradient(to left, rgba(0, 0, 0, 0.1) 80%, rgb(24, 24, 24) 100%), url(../../assets/img/teacher.jpeg);
    min-height: 1000px;
}

.teacherBackground .heading{
    max-width: 50%;
    padding: 30px;
}
.teacherBackground >.heading>h1{
    color: white;
    font-family: 'Asap', sans-serif;
    font-size:38px; 
    
    /* background-color: aqua; */
}
.teacherBackground >.heading> p{
    color: white;
    font-family: 'Asap', sans-serif;
    font-size:25px;
}
.statusContainer{
    max-width: 80%;
    margin: 5% auto;
}
app-responsive-navbar{
    display: none;
}
@media (max-width:780px){
    .content-box{
        margin-left: 0px;
    }
    .teacherBackground .heading{
        max-width: 100%;
        padding: 30px;
    } 
    .teacherBackground .heading h1{
        font-size: 30px;
    }
    .teacherBackground .heading p{
        font-size: 25px;
    }
    app-responsive-navbar{
        display: block;
    }
    shared-navbar{
        display: none;
    }
    shared-sidebar{
        display: none;
    }

}
.overlay{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index:1000;
    cursor: not-allowed;
}
.loader-spinner {
    position: fixed;
    width: 100%;
    max-width: 120px;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% ); /* center */
    -webkit-animation: spinLoader 600ms steps(12, end) infinite;
            animation: spinLoader 600ms steps(12, end) infinite;
            z-index: 1100;
  }
  
  @-webkit-keyframes spinLoader {
    from { transform: translate( -50%, -50% ) rotate(0turn); }
    to { transform: translate( -50%, -50% ) rotate(1turn); }
  }
  
  @keyframes spinLoader {
    from { transform: translate( -50%, -50% ) rotate(0turn); }
    to { transform: translate( -50%, -50% ) rotate(1turn); }
  }
  