<div class="mySchool">
    <h2>You made this place...</h2>
    <div class="row categoryContainer">
      <h2>Javascript</h2>
      <div class="col-xs-4 quiz-box">
        <img src="" alt="">
        <h2>Quiz 1</h2>
        <p>Level: Easy</p>
        <a href="#">Delete</a>
        <a href="#">Edit</a>
      </div>
      <div class="col-xs-4 quiz-box">
        <img src="" alt="">
        <h2>Quiz 2</h2>
        <p>Level: Medium</p>
        <a href="#">Delete</a>
        <a href="#">Edit</a>
      </div>
      <div class="col-xs-4 quiz-box">
        <img src="" alt="">
        <h2>Quiz 3</h2>
        <p>Level: Hard</p>
        <a href="#">Delete</a>
        <a href="#">Edit</a>
      </div>
      
    </div>
    <div class="row categoryContainer">
        <h2>Python</h2>
        <div class="col-xs-4 quiz-box">
          <img src="" alt="">
          <h2>Quiz 1</h2>
          <p>Level: Easy</p>
          <a href="#">Delete</a>
          <a href="#">Edit</a>
        </div>

        <div class="col-xs-4 quiz-box">
          <img src="" alt="">
          <h2>Quiz 2</h2>
          <p>Level: Medium</p>
          <a href="#">Delete</a>
          <a href="#">Edit</a>
        </div>
        
        <div class="col-xs-4 quiz-box">
          <img src="" alt="">
          <h2>Quiz 3</h2>
          <p>Level: Hard</p>
          <a href="#">Delete</a>
          <a href="#">Edit</a>
        </div>
        
      </div>
  </div>