.overlay{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index:100;
    cursor: not-allowed;
}
.loginPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.loginPage .header *{
    font-family: 'Josefin Sans', sans-serif;
}
.loginPage .links{
    font-family: 'Josefin Sans', sans-serif;
}
.loginPage .wrapper{
    width: 40%;
}
.loginPage .help-block{
    font-size: 15px;
    font-family: 'Josefin Sans',sans-serif;
}

@media (max-width:1000px){
    .loginPage .wrapper{
        width: 60%;  
    }
}
@media (max-width:500px){
    .loginPage .wrapper{
        width: 90%;  
    }
}
.wrapper h4{
    text-align: center;
    color: #EF5133;
    font-family: 'Josefin Sans',sans-serif;
}
.loginPage .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginPage .header a{
    display: block;
    text-decoration: none;
    color:#8D7FC9;
    margin-top: 10px;
}
form input{
    display: block;
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    margin-top:30px;
    border-radius:5px;  
    border:0.5px solid #EA1879;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
form input.errorInput{
    border:0.5px solid red;
    transition: 0.3s ease-out;
}
.loginPage button{
    display: block;
    margin: 0 auto;
    margin-top:30px; 
    height: 35px;
    width: 110px;
    background-color: #F96816;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    transition: 0.1s ease-in;
    font-family: 'Open Sans', sans-serif; 
}
button.disableButton{
    opacity: 0.8;
    cursor: not-allowed;
    transition: 0.1s ease-out;
}
.links{
    margin-top:5%;
    text-align: center;
}
.links a{
    text-decoration: none;
    color: fuchsia;
}
