<div class = "loginPage">
  <div class="wrapper">
  
  <div class="header">
    <img class="logo" src="../../assets/logo.png" alt="Logo Not Found.">
    <a [routerLink]="['/signup']" id="needAcc">Need an account?</a>
  </div>
  <form>
    <input type="email" name="Email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" [routerLink]="['/dashboard']" (click)="log()">Sign In</button>
  </form>
  <div class="links">
    <!-- <a [routerLink]="['/signup']" id="needAcc">Need an account?</a> -->
    <a href="*" id="ForgotPassword">Forgot Password</a>
  </div>  
</div>
</div>