


<!-- Navbar Starts -->
<nav class="navbar navbar-fixed-top" [ngClass]="{'navbar-change':navChanger}" >
    <div class="container navbar-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="logo">LOGO</button>
            
        </div>
                  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Categories</a><i class="fa fa-angle-down" style="color:white;"></i></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="loginbtn"><a [routerLink]="['/login']">Login</a></li>
                <li><a href="#" class="signup" [routerLink]="['/signup']">Signup</a></li>  
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- Navbar Ends -->


<!-- Hero Image Starts -->
<section class="hero-image">
    <div class="container image-container">
        <div class="hero-text">
            <h1>Know? Why don't you show?</h1>
            <!-- <a [routerLink]="['/login']">Login</a> -->
            <!-- <p>Explore more!</p> -->
            <button>Explore More</button>
            
        </div>
    </div>
</section>
<!-- Hero Image Ends -->


<!-- Content starts -->
<section class="content">
    <div class="container-fluid">
        <!-- Categories Start -->
        <div class="categories">
            <div class="row">
                <div class="col-xs-4 left">
                    <h2>Analyze your <br><span class="capitalize">skills</span></h2>
                    <p>With quality quizzes from mentors all over the globe
                        see where do you stand? 
                    </p>
                </div>
                <div class="col-xs-8">
                    <div class="category-box-container">
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>Javascript</h2>
                            <p>Mentor: XYZ</p>
                        </div>
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>Python</h2>
                            <p>Mentor: XYZ</p>
                        </div>
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>Java</h2>
                            <p>Mentor: XYZ</p>
                        </div>
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>Angular</h2>
                            <p>Mentor: XYZ</p>
                        </div>
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>Node</h2>
                            <p>Mentor: XYZ</p>
                        </div>
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>C++</h2>
                            <p>Mentor: XYZ</p>
                        </div>
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>C</h2>
                            <p>Mentor: XYZ</p>
                        </div> 
                        <div class="category-box">
                            <img src="" alt="">
                            <h2>Bash</h2>
                            <p>Mentor: XYZ</p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- Categories finished -->


        <!-- Details Start -->
        <div class="details">
            <div class="row">
                <div class="roles-sections student" [ngClass]="{'col-xs-5':studentHover!=true && teacherHovered!=true,'col-xs-9':studentHover==true && teacherHovered==false,'col-xs-2':studentHover==false && teacherHovered==true}" (mouseover) ="rolesHovered($event)"
                (mouseout)="reset();">
                    <div class="detail-bar">
                        <div class="sample"></div>
                        <h2>Student</h2>
                        <p>Gear up for your future with us!</p>
                        <div class="row detailedProduct">
                            <div class="col-xs-4">
                                <h2>Quizzes</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="col-xs-4">
                                <h2>Analytics</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="col-xs-4">
                                <h2>Live Mentoring</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roles-sections teacher" [ngClass]="{'col-xs-5 col-xs-offset-2':studentHover!=true && teacherHovered!=true,'col-xs-2':studentHover==true && teacherHovered==false,'col-xs-9':studentHover!=true && teacherHovered==true, 'col-xs-offset-1':(studentHover==true && teacherHovered==false )|| (studentHover!=true && teacherHovered==true)}" 
                (mouseover) ="rolesHovered($event)" (mouseout)="reset();">
                    <div class="detail-bar">
                        <div class="sample"></div>
                        <h2>Teacher</h2>
                        <p>Help us gearing youth's future!</p>
                        <div class="row detailedProduct">
                            <div class="col-xs-4">
                                <h2>Strong Profile</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="col-xs-4">
                                <h2>Networking</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="col-xs-4">
                                <h2>Claims/Rewards</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Detail ends -->
    </div>
</section>
<!-- Content ends -->

<!-- Footer Starts -->
<div class="downHandler">
    <footer>
        <div class="row footer-body">
            <div class="col-xs-4 bars">
                <p>Social Connectivity</p>
                <ul class="list list-1">
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Youtube</li>
                    <li>LinkedIn</li>
                    <li>Slack</li>
                </ul>
            </div>
            <div class="col-xs-4 bars">
                <ul class="list list-1">
                    <li></li>
                </ul>
            </div>
            <div class="col-xs-4 bars">
                <ul class="list list-1">
                    <li></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer ends -->

    <!-- Copyright footer starts-->
    <div class="row copyright-footer">
        <div class="col-xs-4 left">
            <ul class="left-content">
                <li>Site Map</li>
                <li>Terms of use</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="col-xs-4 col-xs-offset-4 right">
            <p class="right-content">Copyright &copy; 2018| Project LPU|VenturePact</p>
        </div>
    </div>
</div>
<!-- Copyright footer ends -->

