/* Set Quiz Container starts */
.setQuiz{
    text-align: center;
}
.setQuiz *{
    font-size: 20px;
}
/* Set quiz container ends */


/* Rules Box starts*/
.rules-box{
    background-color: rgba(54, 54, 54,0.6);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding:3%;
    transition: 0.3s ease-in;
    transform: scale(0.9);
}
.rules-box h2{
    font-family: 'Asap', sans-serif;
    font-size: 38px;
}
.rules-box p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    color:#aaa;
}
.rules-box:hover{
    cursor: pointer;
    box-shadow:none;
}
/* Rules Box ends */

/* Quiz Intro container start */
.setQuiz .setQuizIntro{
    max-width: 50%;
    margin: 0 auto;
}
/* Intro form starts */
.intro-form{
    display: flex;
    flex-direction: column;
}
.intro-form input,select{
    flex: 1;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border:2px solid white;
    margin-top:10px;
    color: #1e1e1e;
}
.intro-form textarea{
    resize: none;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 5%;
    color: #1e1e1e;
    outline: none;
}
.intro-form p{
    text-align: left;
    font-size: 16px;
    color: #aaa;
}
.intro-form button{
    font-family: 'Asap', sans-serif;
    border-radius: 5px;
    transition: 0.1s ease-in;
    padding: 10px;
    background: linear-gradient(to left,#EA1879,#EF5133);;
    border: none;
    display: block;
    margin: 15px auto;
    outline: none;
}
.intro-form button:hover{
    transition: 0.1s ease-out;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.7);
}
.intro-form button[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width:780px){
    .setQuiz .setQuizIntro{
        max-width: 90%;
        margin: 0 auto;
    }
}
/* Intro Form ends */
/* Set quiz container ends */

/* questionContainer starts */
/* Question form starts */
.questionContainer{
    max-width: 80%;
    margin:0 auto;
}
.questionContainer .question-form{
    display: flex;
    flex-direction: column;
}
.questionContainer .question-form textarea{
    padding: 10px;
    margin-top:2%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #1e1e1e;
    resize: vertical;
    color: #1e1e1e;
    height: 55px;
}
.questionContainer .question-form textarea#question{
    background-color: wheat;
    height: 130px;
}
.questionContainer .question-form .tellAnswer{
    text-align: center;
}
.question-form button{
    font-family: 'Asap', sans-serif;
    border-radius: 5px;
    transition: 0.1s ease-in;
    padding: 10px;
    background: linear-gradient(to left,#EA1879,#EF5133);
    border: none;
    display: block;
    margin: 15px auto;
    outline: none;
    width: 400px;
}
.question-form button:hover{
    transition: 0.1s ease-out;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.7);
}
.question-form button[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
}

/* Question form ends */
/* questionContainer ends */


/* Unpublished Quizzess strt */
.unpublished-quizzes *{
    text-align: center;
}
.unpublished-quiz{
    background-color: rgba(54, 54, 54,0.6);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding:3%;
    transition: 0.3s ease-in;
    transform: scale(0.9);
}

.unpublished-quiz:hover{
    cursor: pointer;
    box-shadow:none;

}
.unpublished-quizzes a{
    text-decoration: none;
    color: mediumturquoise;
}