<div class="quizzes">
  <div class="row quizRow">
        <div class="col-xs-12 col-sm-4 quiz">
            <a href="">Mentor Name</a><br>
            <a class="date">28 June 2018</a> 
            <hr>
            <h2>Category</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
            <button class="take-test">Take Test</button>
            <hr>
            <a href="">Level: Easy</a><br>
            <a href="">Ratings: 4.3</a>
        </div>
        <div class="col-xs-12 col-sm-4 quiz">
            <a href="">Mentor Name</a><br>
            <a class="date">28 June 2018</a>
            <hr> 
            <h2>Category</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
            <button class="take-test">Take Test</button>
            <hr>
            <a href="">Level: Easy</a><br>
            <a href="">Ratings: 4.3</a>
        </div>
        <div class="col-xs-12 col-sm-4 quiz">
            <a href="">Mentor Name</a><br>
            <a class="date">28 June 2018</a> 
            <hr>
            <h2>Category</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
            <button class="take-test">Take Test</button>
            <hr>
            <a href="">Level: Easy</a><br>
            <a href="">Ratings: 4.3</a>
        </div>
    </div>
</div>