*{
    margin: 0;
    padding: 0;
}
.nothing-to-render{
    text-align: center;
    font-family: 'Asap',sans-serif;
}
.quizzes *{
    text-align: center;
}

.quiz{
    background-color: rgba(54, 54, 54,0.6);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding:3%;
    transition: 0.3s ease-in;
    transform: scale(0.9);
}
.quiz *{
    margin-top:5%;
}
.quiz .take-test{
    display: block;
    margin: 5px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to left,#EA1879,#EF5133);
}
.quiz:hover{
    cursor: pointer;
    box-shadow:none;
}
.quizzes a{
    text-decoration: none;
    color: mediumturquoise;
}
.quizzes .quizRow{
    margin-top:5%;
}


/* Quiz on going part */
.quiz-on-going{
    position: relative;
    padding-bottom: 7%;
}
.quiz-on-going-box .question{
    background-color: rgba(54, 54, 54,0.9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    height: 200px;
    padding: 5%;
    border-bottom: 1px solid #756e6e69;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.quiz-on-going-box .option{
    background-color: rgba(62, 206, 106, 0.6) !important;
    color: azure;
    height: 90px;
    padding: 4%;
    /* border-bottom: 1px solid #373636 !important; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


.quiz-on-going-box .optionD{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right-answer{
    background-color:rgb(160, 156, 142);
    color: azure;
    height: 90px;
    padding: 4%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.wrong-answer{
    background-color: rgb(230, 8, 8);
    color: azure;
    height: 90px;
    padding: 4%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.nextButton{
    position: absolute;
    background: linear-gradient(to left,#EA1879,#EF5133);
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: lighter;
    bottom: 4px;
    right: 0px;
    width: 15%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    transition: 0.2s ease-in;
}
.nextButton:hover{
    box-shadow: none;
    transition: 0.2s ease-out;
}
.completion-box{
    background-color: rgba(54, 54, 54,0.9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 5%;
    transition: 0.2s ease-in-out;
}
.completion-box:hover{
    box-shadow: none;
    transition: 0.2s ease-in-out;
}
.completion-box a{
    color: #ff00ff;
    text-decoration: none;
}
.completion-box *{
    margin-top:2%;
    font-family: 'Josefin Sans',sans-serif;
}
.completion-box h2{
    font-size: 30px;
}
.completion-box p{
    font-size: 28px;
}
@media (max-width:780px){
    .nextButton{
        width: 100%;
        right: 0px;
        bottom: -30px;
    }
}