<div class="container-fluid ">

    <div class="row">
        <div class="col-xs-12 heading">
            <h1>Contact Brainees</h1>
        </div>
    </div>

    <div class="contact-us">
        
        <div class="row customerSupportRow">
            <div class="col-xs-12 customerSupport">
                <h2>Customer Support</h2>
                
                    <button class=".btn"><a href="https://accounts.google.com " target="_blank">Email ID: souvickmondalp7@gmail.com</a></button>
                
            </div>
        </div>

        <div class="row devContact">
            <div class="col-xs-12 col-sm-6 devContact1">
                <h4>Mayank Sharma</h4>
                <h6>Full Stack Developer</h6>
                <h6>Email ID: mayank04111998@gmail.com</h6>
            </div>
            <div class="col-xs-12 col-sm-6 devContact2">
                <h4>Souvick Mondal</h4>
                <h6>Full Stack Developer</h6>
                <h6>Email ID: souvickmondalp7@gmail.com</h6>
            </div>
        </div>
    </div>
</div>