<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="logo">
                <img src="../../../assets/img/logo.png" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 heading">
            <h1>Contact Brainees</h1>
        </div>
    </div>
    <div class="row customerSupportRow">
        <div class="col-xs-12 customerSupport">
            <h2>Customer Support</h2>
            <a href="https://accounts.google.com " target="_blank">
                <button class=".btn">Email ID: souvickmondalp7@gmail.com</button>
            </a>
        </div>
    </div>
    <div class="row devContact">
        <div class="col-xs-6 devContact1">
            <h4>Mayank Sharma</h4>
            <h6>Full Stack Developer</h6>
            <h6>Email ID: mayank04111998@gmail.com</h6>
        </div>
        <div class="col-xs-6 devContact2">
            <h4>Souvick Mondal</h4>
            <h6>Full Stack Developer</h6>
            <h6>Email ID: souvickmondalp7@gmail.com</h6>
        </div>
    </div>
</div>