<div class="searchPortal" *ngIf='searchactivated'>
  
  <div class="searchBox">
    <i class="btn-cross" (click)="activateSearch(false)">X</i>
    <input type="text" placeholder="Search here" class="searchbar" autofocus >
  </div>
  
  
</div>
<div class="navbar">
    <nav class="navbar-left">
      <input type="text" (click)="activateSearch(true);">
      <i class="fa fa-2x fa-search"></i>
    </nav>
    <nav class="navbar-right">
      <div class="wrapper">
          <a [routerLink]="['/student/username']" *ngIf='isStudent();'><div class="item">Student</div></a>
          <a [routerLink]="['/mentor/username']" *ngIf='isMentor();'><div class="item">Mentor</div></a>
          <div class="item box">  
            <i class="fa fa-circle"></i>
            <div class="drop-down-item">
              <ul>
                <li>Privacy Policy</li>
                <li>Terms of use</li>
                <li>Contact us</li>
                <hr style="margin-top:10px;">
                <li id="logout" (click)='logout()' [routerLink]="['/']"> Logout</li>
              </ul>
            </div>
          </div> 
      </div>
    </nav>
  
</div>