<div class="profile">
    <div class="row profile-wrapper">
        
        <div class="col-xs-12 basic-details">
            <h2>Mayank Sharma</h2>
            <img src="../../../assets/img/teacher.jpeg" alt="Display picture">
            <p>Username</p>
            <p>Email Id</p>
            <p>Facebook Profile</p>
            <p>Twitter Handle</p>
            <p>Linkedin Profile</p>
        </div>

        <!-- If student -->
        <div class="col-xs-12 analytics">
            <h2>Attended Quizzes</h2>
        </div>
        <hr>
        <div class="col-xs-12">
            <h2>Overall IQ</h2>
        </div>

        <!-- If Mentor -->
        <div class="col-xs-12 quizzes">
            <h2>Quizzes set!</h2>
        </div>
        <div class="col-xs-12 ratings-reviews">
            <p>Rating</p>
            <p>Reviews</p>
            <p>Subscribe|Unsubscribe</p>
        </div>
    </div>
</div>