<div class="profile">
    <h2>Mayank Sharma</h2>
    <img src="../../../assets/img/teacher.jpeg" alt="">
    <form class="form-settings">
        <label for="fname">First Name</label>
        <input type="text" name="fname" value="Mayank">
        <button type="submit">Change</button>
        <label for="lname">Last Name</label>
        <input type="text" name="lname" value="Sharma">
        <button type="submit">Change</button>
        <label for="email">Email Address</label>
        <input type="email" name="email" value="mayank04111998@gmail.com">
        <button type="submit">Change</button>
        <label for="university">University</label>
        <input type="text" name="university" value="Lovely Professional University">
        <button type="submit">Change</button>
    </form>
    <h2 class="seperator">Change Password</h2>
    <form class="form-settings passwordForm">
        <label for="current-password">Current Password</label>
        <input type="text" name="current-password">
        <label for="new-password">New Password</label>
        <input type="text" name="new-password">
        <label for="re-new-password">Retype new Password</label>
        <input type="text" name="re-new-password">
        <button type="submit">Change</button>
    </form>
    <h2 class="seperator">Social Connectivity</h2>
    <form class="form-settings">
        <label for="facebook">Facebook</label>
        <input type="url" name="facebook">
        <button type="submit">Update</button>
        <label for="twitter">Twitter</label>
        <input type="text" name="new-password">
        <button type="submit">Update</button>
        <label for="linkedin">LinkedIN</label>
        <input type="text" name="linkedin">
        <button type="submit">Update</button>
    </form>
</div>