.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid #181818;
    z-index: 960;
    background-color: #222;
    color: #aaa;
    overflow: hidden;
    transition: width .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sidebar *:not(i){
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.sidebar .root-sidebar{
    position: relative;
    width:50px;
    height: 100%;
}

.root-item{
    margin-top: 15px;
    width: 200px;
    height: 45px;
    color: white;
    border-bottom: 1px solid #181818;
}
.root-item>i{
    margin: 0 7px;
    font-size: 1.5em;
}
.root-item>p{
    display: none;
    color: 
}
.root-item>p.active{
    display: inline;
    margin-left: 10%;
    text-transform: uppercase;
    font-size:20px;
    letter-spacing: 2px;
    color: white;
}

.item{
    padding-top:10px;
    padding-bottom:10px;
    margin-top:5px;
    width: 200px;
    color: #aaa;
}
.item:hover{
    background-color: #363636;
    cursor: pointer;
    color: white;
}
.item>i{
    margin: 0 7px;
    font-size: 1.5em;
}
.item>p{
    display: none;
}
.item>p>a{
    text-decoration: none;
    color: #aaa;
}
.item>p.active{
    display: inline;
    margin-left: 10%;
}
.item:hover>p>a{
    color: white;
}
