<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Terms of Use</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="main.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      $("a").on('click', function(event) {

        if (this.hash !== "") {
          event.preventDefault();
    
          var hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
       
            window.location.hash = hash;
          });
        }
      });
    });
    </script>

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 header">
        <h2>Terms of Use</h2>
      </div>
    </div> 
      <div class="row">
        <div class="col-xs-12 subheading">
          <h4>Effective Date: 08-07-2018(v.1.0.0)</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 intro">
          <p>Welcome to Brainees! Our mission is to enhance and showcase the skill of tech geeks which we are accomplishing by building an ecosystem for people to learn,test skill, teach, and connect. When you visit, view, use, or access our website, and any applicable subdomains thereof, or any applications, functionalities, content, materials, Interactive Features, or other online services provided by Brainees (collectively, the “Site”), whether as a guest or a registered user, you’re agreeing to the following terms and conditions, so please take a few minutes to read over the Terms of Use below.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 tableOfContent">
          <a href="#content1">Introduction</a>
          <a href="#content2">Site Access and Registration</a>
          <a href="#content3">Mentorship Ploicy</a>
          <a href="#content4">Student Policy</a>
          <a href="#content5">Brainees do's and don't</a>
        </div>
        <div class="col-xs-8 content" id="content1">
          <h4>Introduction</h4>
          <p>These Terms of Use, as may be amended from time to time, together with any documents, policies, or terms they incorporate by reference (collectively, these “Terms of Use”), are entered into by and between you and Brainees. For purposes of these Terms of Use, “you” includes, individually and collectively, you (the user or Customer) and any individual, affiliate, or Business User that is visiting, viewing, using, or accessing the Site under your Plan. To the extent that you have entered into an enterprise license agreement, master sales order, master services agreement, or other written agreement fully executed and signed by an authorized representative of Brainees that contains terms that directly conflict with any terms of these Terms of Use, then the conflicted terms set forth in such other agreement will control.</p>

             <br><p> You acknowledge and agree that by (i) visiting, viewing, using, or accessing the Site, (ii) clicking “Agree”, “Purchase”, “Submit”, or similar links, or (iii) signing or confirming a Sales Order or other agreement incorporating these Terms of Use, that you have read, understand, and agree to be bound by these Terms of Use, irrespective of whether you are a guest or a registered user of the Site. IF YOU DO NOT AGREE TO THESE TERMS OF USE, THEN YOU MAY NOT ACCESS OR USE THE SITE. Brainees’S ALLOWANCE OF YOUR USE AND ACCESS TO THE SITE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL OF THE TERMS AND CONDITIONS OF THESE TERMS OF USE, TO THE EXCLUSION OF ALL OTHER TERMS.</p>
        </div>
        <div class="col-xs-8 content" id="content2">
          <h4>Site Access and Registration</h4>
          <p>To access the Site, you may be asked to provide certain account information and other details. This account information helps us to create and maintain a Brainee account for you, which is necessary for providing you the content, customer service, and network management that comes with the Site; as such, it is a condition of your use of the Site that all account information you provide is correct, current, and complete. You agree that all account information you provide is governed by our Privacy Policy and you consent to all actions we take with respect to your information consistent with our Privacy Policy.

           <p> With regard to your username, password, any other piece of information you provide to us as part of our security procedures (collectively, Account information), you agree to treat such Account Information as confidential, and you must not disclose it to any other person or entity. You also acknowledge that your Account Information is personal to you, and you agree not to provide any other person with access to the Site using your Account Information. You agree to notify us immediately of any unauthorized access to or use of your Account Information or any other breach of security that you become aware of. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your Account Information or other personal information.
              Except as provided herein, you may not transfer your Account Information to any other person and you may not use anyone else's Account Information or account at any time. In cases where you have nevertheless authorized or registered another person to use your account or Plan, or where you have acted negligently in safeguarding your Account Information as set forth above, you agree you are fully responsible for (i) the acts and omissions of such person accessing the Site with your Account Information, (ii) controlling the person's access to and use of the Site, and (iii) the consequences of any use or misuse by such person.</p>
        </div>
        <div class="col-xs-8 content" id="content3">
          <h4>Mentorship Ploicy</h4>
          <p>Mentorship is a relationship in which a more experienced or more knowledgeable person helps to guide a less experienced or less knowledgeable person.As a mentor your content should be genuine and beneficial to students. Posts of mentor should not have any copyright issue.Posts should not contain irrelevant content and anykind of unsocial or sexual content.</p>
        </div>
        <div class="col-xs-8 content" id="content4">
          <h4>Student Policy</h4>
          <p>Students should use this site with their correct credential. They should not involve in any data breach. Students are only responsible for any kind of activity from their account. They should not use vulgar language in the comment.</p>
        </div>
        <div class="col-xs-8 content" id="content5">
          <h4>Brainees do's and don't</h4>
          <p>You acknowledge and agree that the Site contains content and materials that are viewable through online streaming methods and they are not to be downloaded by you (or your Business Users), except under the limited circumstances and for the limited times as permitted by your Plan. In addition, you agree to adhere and abide to the following DOs and DON’Ts.</p>
          <ul>
            <li>DOs
            <ul>
              <li>Comply with all applicable federal, state, local, or international law or regulations (including without limitation any laws regarding copyright, intellectual property, privacy and personal identity, or the export of data or software to and from India or other countries);</li>
              <li>Provide true and accurate information to us and keep it updated;</li>
              <li> Use the Interactive Features in a respectful manner; and</li>
              <li>Exit from your account at the end of each session or use of the Site.</li>
          </ul>
        </li>
        <li>DON’Ts
          <ul>
            <li> reproduce, redistribute, transmit, assign, sell, broadcast, rent, share, lend, modify, adapt, edit, create derivative works of, license, capture, download, save, upload, print, or otherwise transfer or retain information or content available on the Site other than with regard to Authorized Downloadable Materials, subject to the limited permissions set forth herein;</li>
            <li> permit or provide others access to the Site using your Account Information or otherwise, or the Account Information of another authorized user;</li>
            <li> remove or modify any copyright, trademark, legal notices, or other proprietary notations from the Proprietary Materials or any other content available on the Site;</li>
          </ul>
        </li>
        </ul>
        </div>
      </div> 
  </div>
  
</body>
</html>
