<div class="container-fluid header">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li (click)="showStudentTable()">Student</li>
        <li (click)="showTeacherTable()">Mentor</li>
      </ul>
    </div> 
  </div>
</div>
<table id="example" class="table table-striped table-bordered" style="width:100%" *ngIf="isStudent">
    <thead>
        <tr>
            <th>S.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email ID</th>
            <th>Password</th>
            <th>University</th>
            <th>Address</th>
            <th>Ban</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mayank</td>
            <td>Sharma</td>
            <td>coolmayank</td>
            <td>mayank@gmail.com</td>
            <td>21a****</td>
            <td>Lovely Professional University</td>
            <td>Phagwara</td>
            <td><input type="checkbox"></td>
        </tr>
       
    </tbody>
    <tfoot>
    </tfoot>
</table>



<table id="example" class="table table-striped table-bordered" style="width:100%" *ngIf="isTeacher" >
    <thead>
        <tr>
            <th>SNo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email ID</th>
            <th>Password</th>
            <th>Designation</th>
            <th>Address</th>
            <th>LinkedIn Url</th>
            <th>Ban</th>
            <th>IsApproved</th>
        </tr>
    </thead>
    <tbody >
        <tr >
            <td >1</td>
            <td>Souvick</td>
            <td>Mondal</td>
            <td>Sontu</td>
            <td>souvickmondalp7@gmail.com</td>
            <td>Qc2******</td>
            <td>Developer</td>
            <td>Berhampore</td>
            <td>souvick.linkedin.com</td>
            <td><input type="checkbox" name="IsApproved" id=""></td>
            <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
        </tr>
        <tr>
                <td>1</td>
                <td>Souvick</td>
                <td>Mondal</td>
                <td>Sontu</td>
                <td>souvickmondalp7@gmail.com</td>
                <td>Qc2******</td>
                <td>Developer</td>
                <td>Berhampore</td>
                <td>souvick.linkedin.com</td>
                <td><input type="checkbox" name="IsApproved" id=""></td>
                <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Souvick</td>
                    <td>Mondal</td>
                    <td>Sontu</td>
                    <td>souvickmondalp7@gmail.com</td>
                    <td>Qc2******</td>
                    <td>Developer</td>
                    <td>Berhampore</td>
                    <td>souvick.linkedin.com</td>
                    <td><input type="checkbox" name="IsApproved" id=""></td>
                    <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Souvick</td>
                    <td>Mondal</td>
                    <td>Sontu</td>
                    <td>souvickmondalp7@gmail.com</td>
                    <td>Qc2******</td>
                    <td>Developer</td>
                    <td>Berhampore</td>
                    <td>souvick.linkedin.com</td>
                    <td><input type="checkbox" name="IsApproved" id=""></td>
                    <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Souvick</td>
                    <td>Mondal</td>
                    <td>Sontu</td>
                    <td>souvickmondalp7@gmail.com</td>
                    <td>Qc2******</td>
                    <td>Developer</td>
                    <td>Berhampore</td>
                    <td>souvick.linkedin.com</td>
                    <td><input type="checkbox" name="IsApproved" id=""></td>
                    <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Souvick</td>
                    <td>Mondal</td>
                    <td>Sontu</td>
                    <td>souvickmondalp7@gmail.com</td>
                    <td>Qc2******</td>
                    <td>Developer</td>
                    <td>Berhampore</td>
                    <td>souvick.linkedin.com</td>
                    <td><input type="checkbox" name="IsApproved" id=""></td>
                    <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Souvick</td>
                    <td>Mondal</td>
                    <td>Sontu</td>
                    <td>souvickmondalp7@gmail.com</td>
                    <td>Qc2******</td>
                    <td>Developer</td>
                    <td>Berhampore</td>
                    <td>souvick.linkedin.com</td>
                    <td><input type="checkbox" name="IsApproved" id=""></td>
                    <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>Souvick</td>
                    <td>Mondal</td>
                    <td>Sontu</td>
                    <td>souvickmondalp7@gmail.com</td>
                    <td>Qc2******</td>
                    <td>Developer</td>
                    <td>Berhampore</td>
                    <td>souvick.linkedin.com</td>
                    <td><input type="checkbox" name="IsApproved" id=""></td>
                    <td><input type="checkbox" name="IsBanned" id=""></td>
            </tr>



        </tbody>
        <!-- <ul>
                <li *ngFor="let item of collection | paginate: config; let i = index">CORRECT</li>
              </ul>

              <pagination-controls (pageChange)="p = (click)"></pagination-controls> -->
   
    
</table>


