<div class="container">

        <h2>Admin Interface</h2>
        <!-- On submit setpageLimit  -->
        <input type="number" name="PageLimit" [(ngModel)]="pageLimit">
        <button (click)="setpageLimit();">Submit</button>
        <div class="pagination-data">

                <table class="table">
                        <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Country</th>
                        </tr>
                        <tr *ngFor=' let user of users | paginate : { itemsPerPage:5, currentPage:page, id : 1, totalItems:totalItem} '>
                                <td>{{user.name}}</td>
                                <td>{{user.age}}</td>
                                <td>{{user.country}}</td>
                        </tr>
                </table>
<!-- Ye koi 3rd party ka hai to apne ap ayeha vo controlsha ye mne bhi dekha tha -->
                <pagination-controls (pageChange)="page = getServerData($event)" id="1" directionLinks="true" autohide="true">
                </pagination-controls>

        </div>
</div>