.analytics *{
    text-align: center;
}
.analytics .graphRenderer img{
    width: 100%;
    border-radius: 10px;
    filter: blur(5px);
    
    transition: 0.1s ease-in;
}
.analytics .graphRenderer img:hover{
    filter: unset;
    transition: 0.1s ease-out;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
}
.analytics h2{
    margin-top:5%;
    font-family: 'Asap',sans-serif;
    font-size:32px;
}
.perQuizIq .quizIq{
    background-color: rgba(54, 54, 54,0.6);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding:3%;
    transition: 0.3s ease-in;
    transform: scale(0.9);
}
.perQuizIq .quizIq .analyse-iq{
    display: block;
    margin: 5px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to left,#EA1879,#EF5133);
}
.perQuizIq .quizIq:hover{
    cursor: pointer;
    box-shadow:none;
}
.perQuizIq a{
    text-decoration: none;
    color: mediumturquoise;
    display: block;
    margin: 4px auto;
}
.analytics .perQuizIq{
    margin-top:5%;
}