<div class="analytics">
  <div class="graphRenderer">
    <img src="../../../assets/img/graph.jpeg" class="img-responsive" alt="">
  </div>
  <h2>Know your individual results</h2>
  <div class="row perQuizIq">
    <div class="col-xs-4 quizIq">
      <h2>Category</h2>
      <p>Quiz Name</p>
      <a href="#">Took on: 28/06/2018</a>
      <a href="#">Mentor: XYZ</a>
      <a href="#">Level: Easy</a>
      <a href="#">Marks:14/20</a>
      <button class="analyse-iq">Analyse Results</button>
    </div>
    <div class="col-xs-4 quizIq">
      <h2>Category</h2>
      <p>Quiz Name</p>
      <a href="#">Took on: 28/06/2018</a>
      <a href="#">Mentor: XYZ</a>
      <a href="#">Level: Easy</a>
      <a href="#">Marks:14/20</a>
      <button class="analyse-iq">Analyse Results</button>      
    </div>
    <div class="col-xs-4 quizIq">
      <h2>Category</h2>
      <p>Quiz Name</p>
      <a href="#">Took on: 28/06/2018</a>
      <a href="#">Mentor: XYZ</a>
      <a href="#">Level: Easy</a>
      <a href="#">Marks:14/20</a>
      <button class="analyse-iq">Analyse Results</button> 
    </div>
  </div>
  <div class="row perQuizIq">
    <div class="col-xs-4 quizIq">
      <h2>Category</h2>
      <p>Quiz Name</p>
      <a href="#">Took on: 28/06/2018</a>
      <a href="#">Mentor: XYZ</a>
      <a href="#">Level: Easy</a>
      <a href="#">Marks:14/20</a>
      <button class="analyse-iq">Analyse Results</button>
    </div>
    <div class="col-xs-4 quizIq">
      <h2>Category</h2>
      <p>Quiz Name</p>
      <a href="#">Took on: 28/06/2018</a>
      <a href="#">Mentor: XYZ</a>
      <a href="#">Level: Easy</a>
      <a href="#">Marks:14/20</a>
      <button class="analyse-iq">Analyse Results</button>
    </div>
    <div class="col-xs-4 quizIq">
      <h2>Category</h2>
      <p>Quiz Name</p>
      <a href="#">Took on: 28/06/2018</a>
      <a href="#">Mentor: XYZ</a>
      <a href="#">Level: Easy</a>
      <a href="#">Marks:14/20</a>
      <button class="analyse-iq">Analyse Results</button>
    </div>
  </div>
</div>