<div class="public-teacher-posts">
    <div class="row">
        <div class="col-xs-12 post">
            <a href="">Mentor Name</a>
            <a class="date">Post created on 28 June 2018</a> 
            <h2>Hello World</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
            <a href="">5 Likes</a>
        </div>
        <div class="col-xs-12 post">
            <a href="">Mentor Name</a>
            <a class="date">Post created on 28 June 2018</a> 
            <h2>Hello World</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
            <a href="">5 Likes</a>
        </div>
        <div class="col-xs-12 post">
            <a href="">Mentor Name</a>
            <a class="date">Post created on 28 June 2018</a> 
            <h2>Hello World</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor animi a repellendus sed natus, iusto amet soluta sunt! Exercitationem nam aut nobis, corrupti saepe praesentium aliquid explicabo beatae voluptas.</p>
            <a href="">5 Likes</a>
        </div>
    </div>
</div>