
.post{
    width: 100%;
    background-color: #363636;
    padding: 20px;
    margin-top:5%;
    border-radius: 5px;
}
.post a{
    font-size:14px;
    color: rgb(213, 226, 226);
    cursor: pointer;
}
.post p.date{
    margin-left:2%;
    display: inline;
    font-size:14px;
    color: rgb(213, 226, 226);
}
.post h2{
    font-size: 30px;
}
.post p{
    font-size: 20px;
}