/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54); 
    -webkit-box-shadow: inset 0 0 6px rgba(54,54,54,0.5); 
}

html,body{
    overflow-x: hidden;
}