<div class="myStudents">
  <h2>Your kids..</h2>
  <div class="row studentContainer">
    <div *ngFor='let student of myStudents'>
      <div class="col-xs-4 student-box">
        <img src="" alt="">
        <h2>{{student.name.firstname}}&nbsp;{{student.name.lastname}}</h2>
        <p>{{student.email}}</p>
        <!-- Public profile of  -->
        <a [routerLink]="['/mentor/student',student._id]">{{student.username}}</a>
        <br>
        <a (click)='removeStudent(student._id);'>Remove</a>
      </div>
    </div>
  </div>
</div>