<div class="myStudents">
  <h2>Your kids..</h2>
  <div class="row studentContainer">
    <div class="col-xs-4 student-box">
      <img src="" alt="">
      <h2>Mayank</h2>
      <p>Lovely Professional University</p>
      <a href="">Remove</a>
    </div>
    
    <div class="col-xs-4 student-box">
      <img src="" alt="">
      <h2>Mayank</h2>
      <p>Lovely Professional University</p>
      <a href="">Remove</a>
    </div>
    
    <div class="col-xs-4 student-box">
      <img src="" alt="">
      <h2>Mayank</h2>
      <p>Lovely Professional University</p>
      <a href="">Remove</a>
    </div>
    
  </div>
  <div class="row studentContainer">
      <div class="col-xs-4 student-box">
        <img src="" alt="">
        <h2>Mayank</h2>
        <p>Lovely Professional University</p>
        <a href="">Remove</a>
      </div>
      
      <div class="col-xs-4 student-box">
        <img src="" alt="">
        <h2>Mayank</h2>
        <p>Lovely Professional University</p>
        <a href="">Remove</a>
      </div>
      
      <div class="col-xs-4 student-box">
        <img src="" alt="">
        <h2>Mayank</h2>
        <p>Lovely Professional University</p>
        <a href="">Remove</a>
      </div>
      
    </div>
</div>